/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding:10px ;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 15px;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 40px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

section h2 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align:center;
}
p{
    color: red;

}

img.section-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    position: relative;
}

p {
    line-height: 1.5;
    text-align:center;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: #eceaea;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
